<!doctype html>
<html class="no-js" lang="" ng-app="simonGame">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="game">

<sg-buttons steps="game.steps"></sg-buttons>
<div class="iface-controls">
  <h2>SIMON</h2>
  <div class="iface-controls-row">
    <div class="iface-control">
      <span>COUNT</span>
      <div class="counter">
        <code>{{ game.count | twoDigit }}</code>
      </div>
    </div>
    <div class="iface-control">
      <button ng-class="{disabled : !isOn}" ng-click="game.restart()"><span ng-show="game.hasStarted">RE</span>START</button>
    </div>
    <div class="iface-control">
      <span>STRICT</span>
      <div class="switch tiny">
        <input class="switch-input" id="strictSwitch" type="checkbox" name="isStrict" ng-model="game.strict">
        <label class="switch-paddle" for="strictSwitch">
        </label>
      </div>
    </div>
    <div class="iface-control full">
      <span>OFF / ON</span>
      <div class="switch">
        <input class="switch-input" id="onOffSwitch" type="checkbox" name="isOn" ng-model="isOn">
        <label class="switch-paddle" for="onOffSwitch">
        </label>
      </div>
    </div>
  </div>
</div>

<script src="lib/jquery.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>
